section.about-company
    .about-company-container

        .title-block
            h2  О компании
            h4  One Capital Group LTD
            p   Современная инвестиционная компания

        .gridded-columns
            .gridded
                .gridded-cell
                    .left
                        ul.gridded-list
                            li.gridded-list-item
                                .content
                                    p   Основные направления деятельности компании:
                                        u
                                            | трейдинг на бирже криптовалют
                                        | ,
                                        u
                                            |спортивные инвестиции
                                        | .
                                        br
                                        | Компания успешно разрабатывает и реализует собственные IT продукты.
                                        br
                                        | Успех компании строится на безупречная стратегии управления инвестициями и развитии перспективных направлений.
                                        br
                                        | Главный принцип компании -  максимальная монетизация и гарантированная прибыль инвесторам без рисков!


                    .right
                        ul.gidded-list
                            li.gridded-list-item
                                .head-container

                                    .title
                                        h3  Организация продаж
                                .content
                                    p   Дополнительная прибыль компании формируется за счет:
                                    ul
                                        li  разработки собственного программного обеспечения;
                                        li  расширения партнерской сети;
                                        li  формирования и продажи спортивных прогнозов ведущими аналитиками.





    .bg