section.main-w-video
    .main-w-video-container
        .title-block
            h1 Welcome to VELARM
            h4 The future has already begun!
            p Reque falli pro ne. Ei mea noster epicurei, an has ipsum libris lobortis. Has essent instructior te. Eu eam oblique verterem, mel sint verterem et. Ad possim recusabo definitionem cum, eos petentium aliquando at.
            .btn-set
                //button(class='btn btn-primary btn-lg') Sign In
                button(class='btn btn-primary btn-lg') Sign Up
    .bg
        .embed-responsive.embed-responsive-16by9
            video.embed-responsive-item#bg-block-01.video-js
                p.vjs-no-js
                    | To view this video please enable JavaScript, and consider upgrading to a web browser that
                    a(href='http://videojs.com/html5-video-support/', target='_blank') supports HTML5 video

