doctype html
html(lang="en",class=bodyID)
  include ../includes/head

  body(class=bodyID)

    block content

    .messages
      include ../includes/messages

    include ../includes/footer
    include ../includes/foot
